<%= form_with(model: extintor, local: true) do |form| %>
  <% if extintor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extintor.errors.count, "error") %> prohibited this extintor from being saved:</h2>

      <ul>
      <% extintor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
