<div class="container">
	<h2 class="text-center">Necesitas un servicio o quieres m치s informaci칩n?</h2>
    <small class="form-text text-muted text-center">
        <p class="text-center">Diligencia el formulario a continuaci칩n y uno de nuestros asesores te contactar치 en breve</p>
    </small>
<%= render 'leads/form' %>
</div>
