<table class= "table">
	<thead>
		<tr>
			<th scope="col">#</th>
      		<th scope="col">Nombres</th>
    		<th scope="col">Apellidos</th>
      		<th scope="col">Correo Electrónico</th>
		</tr>
	</thead>
	<tbody>
	    <tr>
	      <th scope="row"> <%= @lead.id %> </th>
	      <td><%= @lead.nombres %></td>
	      <td><%= @lead.apellidos %></td>
	      <td><%= @lead.email %></td>
	    </tr>
	    <tr>
	</tbody>
</table>
