<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tenemos todo lo que usted necesita!</h2>
                <hr class="light">
                <p class="text-faded">Contamos con un equipo humano que incorpora innovación y herramientas tecnológicas para hacer un servicio con calidez y calidad, de esta manera podemos garantizar nuestros servicios.</p>
                <a href="leads#new" class="btn btn-default btn-xl" >Contáctanos</a>
            </div>
        </div>
    </div>
</section>

