<aside class="bg-yellow">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Vive la experiencia Max!</h2>
            <a href="#" class="btn btn-default btn-xl wow tada" data-toggle="modal" data-target="#leadWebPage">Agenda tu servicio ya!</a>
        </div>
    </div>
</aside>

