<%= favicon_link_tag 'favicon.ico' %>
<header>
	<div class="header-content">
	    <div class="header-content-inner">
	        	<div class="row">
	        		<img src="<%= asset_path 'logo.png' %>">
	            	<p>Somos una empresa que desde 1985 está enfocada a la satisfacción de nuestros clientes, brindando condiciones y ambientes seguros para tu bienestar</p>
				<hr>
	            </div>
	            <div class="row">
					<div class="col-6 col-md-4 text-center">
	               		<i class="fa fa-phone fa-3x"></i>
	               		<p>5580355 - 5577250 - 5578208</p>
	           		</div>
		           	<div class="col-6 col-md-4 text-center">
		               	<i class="fa fa-whatsapp fa-3x cla"></i>
		               	<p>+57 3135157532</p>
		           	</div>
		           	<div class="col-6 col-md-4 text-center">
		               	<i class="fa fa-envelope-o fa-3x" data-wow-delay=".1s"></i>
		               	<p><a href="mailto:your-email@your-domain.com" class="correo_alt">info@fumigadoramax.com</a></p>
		            </div>
		        </div>
		        <div class="row">
		        	<div class="col-6 col-md-6 text-center">
		        		<a href="#about" class="btn btn-primary btn-xl page-scroll">Conoce más</a>
		        	</div>
		        	<div class="col-6 col-md-6 text-center">
		        		<a href="leads/new"" class="btn btn-primary btn-xl">Agenda tu servicio ya!</a>
		        	</div>
		        </div>
		    </div>
		</div>
</header>

